/* en vrac :
100% 100% 100% 0 auto border-box box-sizing 
display height flex flex none margin 
max-width width width
*/

img {
    max-width: 100%;
    height: auto;
}

.carrousel_parent-ecrans {
    display: flex;
    width: 100%;
    overflow-x: scroll;

}

.carrousel_ecran {
    width: 100%;
    flex: none;
    scroll-snap-align: start
}

.carrousel_ecran figure {
    margin: 0;

}